.root {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.commentBody {
    font-style: italic;
}

.createCommentText {
    width: 100%;
}

.date {
    text-transform: capitalize;
}

.likesContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}
