.root {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.iconsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.commentBody {
    font-style: italic;
}

.createCommentText {
    width: 100%;
}
