@use "@/styles/theme" as *;

.root {
  display: flex !important;
  flex-direction: column;
  gap: 10px;

  @include matchSmall {
    gap: 15px;
  }
}

.topProfileInfo {
  display: grid;
  grid-template-areas:
          "img firstName"
          "img lastName";
  grid-template-columns: min-content 1fr;
  column-gap: 10px;
  row-gap: 10px;

  @include matchSmall {
    column-gap: 20px;
    row-gap: 15px;
  }
}

.imageContainer {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  grid-area: img;

  @include matchMedium {
    width: 180px;
    height: 180px;
  }
}

.imageUploadInput {
  cursor: pointer;

  & + input {
    visibility: hidden;
  }
}

.name {
  grid-area: firstName;
}

.last {
  grid-area: lastName;
}
