@use '@/styles/theme' as *;

.root {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.commentList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentItem {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.iconsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.commentBody {
    font-style: italic;
}

.createCommentText {
    width: 100%;
}

.dialogContent {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include matchSmall {
        min-width: 350px;
    }
}

.dialogContentItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}