@use '../../styles/theme' as *;

.root {
  max-width: 1040px;
  padding: 20px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include matchSmall {
    gap: 30px;
  }
}
