@use '@/styles/theme' as *;

.root {
    max-width: 1040px;
    padding: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include matchSmall {
        gap: 15px;
    }
}

.filtersContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    @include matchSmall {
        grid-template-columns: 1fr min-content;
    }
}

.dropdownContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    @include matchSmall {
        grid-template-columns: 150px 150px;
    }
}

.additionalFilters {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.listContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;

    @include matchSmall {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    @include matchLarge {
        grid-template-columns: repeat(auto-fit, 490px);
    }
}

.spinnerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}
