@use '@/styles/theme' as *;

.root {
    max-width: 1040px;
    padding: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include matchSmall {
        gap: 30px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rightContainer {
    grid-area: right;
}

.middleContainer {
    grid-area: middle;
}

.leftContainer {
    grid-area: left;
}

.bodyContainer {
    display: grid;
    grid-template-areas:
        'middle'
        'left'
        'right';
    grid-template-columns: 1fr;
    gap: 30px;

    @include matchSmall {
        grid-template-areas:
            'left middle'
            'right middle';
        grid-template-columns: 230px 1fr;
    }

    @include matchMedium {
        grid-template-areas: 'left middle right';
        grid-template-columns: 230px 1fr 270px;
    }
}

.column {
    background-color: red;
}

.infoCard {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infoSlot {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menuList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}