@use '@/styles/theme' as *;

.root {
    max-width: 1040px;
    padding: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include matchSmall {
        gap: 15px;
    }
}

.filtersContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    @include matchSmall {
        grid-template-columns: 1fr min-content;
    }
}

.dropdownContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    @include matchSmall {
        grid-template-columns: 150px 150px;
    }
}

.additionalFilters {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}