.root {
    max-width: 1040px;
    padding: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filtersContainer {
    display: grid;
    grid-template-columns: 1fr 150px 150px;
    gap: 15px;
}

.additionalFilters {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}