@use '@/styles/theme' as *;

.root {
    max-width: 1040px;
    padding: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include matchSmall {
        gap: 30px;
    }
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.bodyContainer {
    display: grid;
    grid-template-areas:
        'image'
        'user'
        'reviews';
    grid-template-columns: 1fr;
    gap: 10px;

    @include matchSmall {
        gap: 30px;
        grid-template-areas:
            'image user'
            'image reviews';
        grid-template-columns: min-content 1fr;
    }

    @include matchMedium {
        gap: 50px;
        grid-template-areas: 'image user reviews';
        grid-template-columns: min-content 1fr 300px;
    }
}

.imageContainer {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    grid-area: image;

    @include matchSmall {
        width: 150px;
        height: 150px;
    }

    @include matchMedium {
        width: 200px;
        height: 200px;
    }
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: user;

    @include matchSmall {
        gap: 15px;
    }
}

.reviews {
    grid-area: reviews;
}

.imageUploadInput {
    cursor: pointer;

    &+input {
        visibility: hidden;
    }
}
