@use '@/styles/theme' as *;

.root {
    max-width: 1040px;
    padding: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include matchSmall {
        gap: 30px;
    }
}

.bottonSection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @include matchMedium {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}