@use '@/styles/theme' as *;

.main {
    margin-top: $appBarHeight;
    min-height: calc(100vh - $appBarHeight - $footerHeight);

    @include matchMedium {
        margin-left: $sideBarWidth;
    }
}
