.root {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cateogiryList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cateogiryItem {
    padding: 10px 25px;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
}