@use '@/styles/theme' as *;

.searchSectionContainer {
  position: relative;

  * {
    z-index: 9;
  }
}

.headerContent {
  max-width: 840px;
  padding: 75px 20px;
  margin-inline: auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.headerTextContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.backgroundImage {
  z-index: 1;
}