.root {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}