@use '@/styles/theme' as *;

.root {
    padding: 15px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: opacity 1s ease-out;
    opacity: 1;

    &_collapsed {
        overflow: hidden;
        height: 0;
        opacity: 0;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rotateChevron {
    transform: rotate(180deg);
}

.headerContainer {
    display: grid;
    grid-template-areas: 'imageHeader''inputsHeader';
    grid-template-columns: 1fr;
    gap: 10px;

    @include matchSmall {
        grid-template-areas: 'inputsHeader imageHeader';
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

.inputsHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: inputsHeader;
}

.imageHeader {
    grid-area: imageHeader;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.editButtonSection {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.imageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    aspect-ratio: 3/2;

    img {
        object-fit: cover;
        border-radius: 10px;
    }
}

.entryContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}