@use '@/styles/theme' as *;

$imageWidth: 150px;

.root {
    overflow: hidden;
    height: min-content;
}

.cardLink {
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.imageContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 130px;
}

.cardBody {
    padding: 10px;
}

.cardBodyHeader {
    display: flex;
    justify-content: space-between;
}

.badges {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include matchSmall {
        flex-direction: row;
    }
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.ratingContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    height: 23px;
    white-space: nowrap;
}

.distance {
    padding-block: 3px;
}
